

%p= @string["encourage_to_update_profile"]

= form_for @user, :url => user_path do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name, "* First Name"
    = f.text_field :first_name
  .field
    = f.label :last_name, "* Last Name"
    = f.text_field :last_name
  .field
    = f.label :email, "* Email"
    = f.text_field :email
  .field
    = f.label :password, "* Password"
    = f.password_field :password, :class => 'text'
  .field
    = f.label :password_confirmation, "* Confirm Password"
    = f.password_field :password_confirmation, :class => 'text'
  .field
    = f.label :photo, "Upload a Photo"
    - if current_user && current_user.photo_file_name.present?
      = image_tag current_user.photo.url(:large)
    - else
      = image_tag FAKE_IMAGE
    = f.file_field :photo
  .field
    = f.label :phone, "* Phone"
    = f.text_field :phone
  .field
    Are you and AMC member?
    = f.label :member, "Yes"
    = f.radio_button :member, true
    = f.label :member, "No"
    = f.radio_button :member, false
  .field
    Do you want to be able to create events in this system?
    = f.label :leader_request, "Yes"
    = f.radio_button :leader_request, true
    = f.label :leader_request, "No"
    = f.radio_button :leader_request, false
    %p Please note: selecting yes will send an email to the administrator to verify your AMC H/B Leader/Coleader status.
  .field
    * What is your previous hiking experience? (If applicable, please name mountains and include approximate distances.)
    %br
    = f.text_field :experience
  .field
    * What is your weekly exercise routine? Please be honest.
    %br
    = f.text_field :exercise
  .field
    * Please enter any allergies, any medications you are taking, or any other medical conditions that may be important. (Your answer will remain confidential.)
    %br
    = f.text_field :medical
  .field
    * In case of emergency, please enter a person to contact, including name and phone number.
    %br
    = f.text_field :emergency_contact
  .field
    Do you have any dietary preferences or restrictions (vegetarian, food allergies, etc.)?
    %br
    = f.text_field :diet
  .actions
    = f.submit 'Save'
