%p#notice= notice


= link_to 'Edit Your Profile', edit_user_path(@user)


- if current_user.photo.file?
  = image_tag current_user.photo.url(:large)
- else
  = image_tag "fish.jpg"
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Email:
  = @user.email
%p
  %b Phone
  = @user.phone
  %b AMC Member
  = @user.member
%p
  %b Recent Hiking Experience
  = @user.experience
%p
  %b Weekly Exercise Routine
  = @user.exercise
%p
  %b Allergies, Medications, and relevant Medical Conditions
  = @user.medical
%p
  %b Emergency Contact
  = @user.emergency_contact
%p
  %b Dietary Needs
  = @user.diet
