%h3 My Registration


= form_for @registration, :url => event_registration_path(@registration.event) do |f|

  -if @registration.errors.any?
    #error_explanation
      %h2= "#{pluralize(registration.errors.count, "error")} prohibited this @registration from being saved:"
      %ul
        - @registration.errors.full_messages.each do |msg|
          %li= msg


  = f.hidden_field :event_id, :value => @registration.event_id
  .field
    .above * Do you have the required gear? If you are missing any required gear, please list it below. We can help if you have questions.
    = f.label :gear_answer, :class => :hidden
    = f.text_area :gear_answer, :class => :text_area_medium

  .field
    .above Do you have any questions or comments for us?
    = f.label :has_questions, :class => :hidden
    = f.text_area :has_questions, :class => :text_area_medium
  - unless @registration.event.question1.blank?
    .field
      .above= "* " + @registration.event.question1
      = f.label :answer1, :class => :hidden
      = f.text_area :answer1, :class => :text_area_medium

  %h2 * Carpool Info
  %p Carpooling is a great way to meet people and save the earth's resources. Do you want to carpool?

  .field
    %table
      %tr
        %td= f.radio_button :carpooling, 'all set'
        %td= f.label :carpooling, "I'm all set and will meet you there"
      %tr
        %td= f.radio_button :carpooling, 'can take'
        %td
          = f.label :carpooling, "I have room for:"
          = f.select :room_for, ['1', '2', '3', '4', '5']
          passenger
      %tr
        %td= f.radio_button :carpooling, 'need ride'
        %td= f.label :carpooling, "I need a ride"

  %table
    %tr
      %td
      %td (Town)
      %td
      %td (Time, Day)
    %tr
      %td= f.label :leaving_from
      %td= f.text_field :leaving_from
      %td= f.label :leave_time, "at"
      %td= f.text_field :leave_time
    %tr
      %td= f.label :returning_to
      %td= f.text_field :returning_to
      %td= f.label :return_time, "at"
      %td= f.text_field :return_time

  .field
    = f.label :user_notes, :class => :above
    %p This a place for you to scribble. Nobody else will see this.
    = f.text_area :user_notes, :class => :text_area_large
  .actions
    - if @registration.new_record?
      = f.submit 'Sign Me Up!'
    - else
      = f.submit 'Update'    
= render 'registrations/never_mind_button' # Note this is outside the form so it won't try to submit it
      