%h2 My #{label} Events
%table.my_events_table
  %tr
    %th Start
    %th End
    %th Event
    %th My Status
    %th Event Status
    %th Misc
  - registrations.each do |f|
    %tr
      %td.start_date= f.event.start_date.pretty
      %td.end_date= f.event.end_date.pretty if f.event.end_date
      %td.event_name= link_to f.event.event_name, event_path(:id => f.event_id)
      %td.register_status= f.register_status
      %td.event_status= f.event.event_status
      - if f.event.registrar == current_user
        - unseen_regs = f.event.registrations.where(:viewed_by_registrar => false).count
        - if unseen_regs > 0
          %td.flag= pluralize(unseen_regs, 'new registration')
