%h2 #{label} Events
%table
  %tr
    %th Start
    %th End
    %th Event
    %th My Status
    %th Event Status
  - registrations.each do |f|
    %tr
      %td= f.event.start_date.pretty
      %td= f.event.end_date.pretty if f.event.end_date
      %td= link_to f.event.event_name, event_path(:id => f.event_id)
      %td= f.register_status
      %td= f.event.event_status
