%p#notice= notice
%h2 Carpooling
- if @registration.carpooling.downcase == "all set"
  %p I'm all set and will meet you there
- elsif @registration.carpooling.downcase == "can take"
  %p
    I have room for
    = @registration.room_for
    passengers
- else
  %p I need a ride
- unless @registration.carpooling.downcase == "all set"
  %table
    %tr
      %td
      %td (Town)
      %td
      %td (Time, Day)
    %tr
      %td Leaving From
      %td= @registration.leaving_from
      %td at
      %td= @registration.leave_time
    %tr
      %td Returning to
      %td= @registration.returning_to
      %td at
      %td= @registration.return_time
%p.bold Gear answer:
%p= @registration.gear_answer
%p.bold Answer to:
%p.bold= @registration.event.question1
%p= @registration.answer1

%p.bold Questions you asked when you signed up
%p = @registration.has_questions
= link_to 'Edit', edit_event_registration_path(@event)
\|
= link_to 'Back', event_registration_path(@event)
