%p When: #{@event.date_range}
%p Event Status: #{@event.event_status}
- myreg = Registration.where(:user_id => current_user.id, :event_id => @event.id)
- unless myreg.empty?
  %p My Registration Status: #{myreg.first.register_status}

.hike_rating
  %p
    Hike Rating: #{@event.rating}
    = link_to "(Hike Rating Key)", "http://www.hbbostonamc.org/index.php/Table/Key-to-Hike-Ratings/"
  = render "hike_rating_key"
- pricing = @event.pricing.empty? ? "No cost for this event" : @event.pricing
%p Cost: #{pricing}
%h2 Leading This Event
- @leaders.each do |a|
  = link_to a.full_name , "mailto:#{a.email}"
  = a.compound_status(@event).wrap
  %br
- @coleaders.each do |a|
  = link_to a.full_name , "mailto:#{a.email}"
  = a.compound_status(@event).wrap
  %br
- unless @registrar_already_listed
  = link_to @event.registrar.full_name, "mailto:#{@event.registrar.email}"
  = @event.registrar.compound_status(@event).wrap


%h2 Event Registration
%h2= @event.event_name
%p
  When:
  = @event.date_range
%p
  %b Program:
  = event.program_id
%p
  %b Event status:
  = event.event_status
%p
  %b Event is program:
  = event.event_is_program
%p
  %b Event name:
  = event.event_name
%p
  %b Rating:
  = event.rating
%p
  %b Pricing:
  = event.pricing
%p
  %b Description:
  = event.description
%p
  %b Trip info:
  = event.trip_info
%p
  %b Gear list:
  = event.gear_list
%p
  %b Confirmation page:
  = event.confirmation_page
%p
  %b Question1:
  = event.question1
%p
  %b Start date:
  = event.start_date
%p
  %b End date:
  = event.end_date
