%h2 Event Registration
%h2= @event.event_name

%p When: #{@event.date_range}
%p Event Status: #{@event.event_status}
- myreg = Registration.where(:user_id => current_user.id, :event_id => @event.id)
- unless myreg.empty?
  %p My Registration Status: #{myreg.first.register_status}

- if @event.program
  %h2 Mother Program
  %p This event is part of a program series: <b>#{@event.program.event_name}</b>
  %p
    Your program enrollment status is:
    = current_user.compound_status(@event.program)
.hike_rating
  %p
    Hike Rating: #{@event.rating}
    = link_to "(Hike Rating Key)", "http://www.hbbostonamc.org/index.php/Table/Key-to-Hike-Ratings/"
  = render "hike_rating_key"
- pricing = @event.pricing.blank? ? "No cost for this event" : @event.pricing
%p 
  Cost: 
  = pricing
%h2 Leading This Event
- @leaders.each do |a|
  = link_to a.full_name , "mailto:#{a.email}"
  = a.compound_status(@event).wrap
  %br
- @coleaders.each do |a|
  = link_to a.full_name , "mailto:#{a.email}"
  = a.compound_status(@event).wrap
  %br


- unless @registrar_already_listed
  = link_to @event.registrar.full_name, "mailto:#{@event.registrar.email}"
  = @event.registrar.compound_status(@event).wrap



%h2 Event Information:
%p= event.description
%h2 Gear List
%p= event.gear_list
%h2 Information for Approved Participants
%p= event.trip_info
