%td
  = form_tag(update_register_status_path, :method => :put, :remote => false) do
    = hidden_field_tag :id, @event.id
    = hidden_field_tag :user_id, registration.user.id
    = hidden_field_tag :new_status, new_status
    = submit_tag new_status 
