= render 'left_tabs'
#right
  %h1 Carpooling
  %h1= @event.event_name
  %p This is where you can see who else is going on this trip so you can arrange carpooling
  = content_tag(:h2, "Rides Wanted") unless @need_rides.empty?
  = render 'carpool_group', :carpool_group => @need_rides
  = content_tag(:h2, "Rides Offered") unless @can_takes.empty?
  = render 'carpool_group', :carpool_group => @can_takes
  = content_tag(:h2, "All Set") unless @all_sets.empty?
  = render 'carpool_group', :carpool_group => @all_sets
  
