
= render 'left_tabs'
#center
  %h1#floating_event_name= @event.event_name
  %h2 Thank Yor for Making a Kooji Page

  %p Congratulations, your Registration Page has been created. This page allows you to keep track of who's signing up for your event. Now, let's post your event so people can sign up for it!
  %p Post your Kooji page with your Trip Listing:
  %ol
    %li
      - outdoors_link = "http://activities.outdoors.org/admin"
      Log in to
      = link_to outdoors_link + ".", outdoors_link
    %li Click on the link in the side bar under Events that says Add Chapter Trip.
    %li Below are the details of your event. Copy and paste them into your listing.

  %p Registration URL:  http://hbbostonamc.org/regi/#{@event.id}
  %p Event Name: #{@event.event_name}
  %table
    %tr
      %th Start Date:
      %th End Date
    %tr
      %td= @event.start_date
      %td= @event.end_date
  %p Hike Rating: #{@event.rating}

  %p Cost: #{@event.pricing}

  %h2 General Description:
  %p= @event.description

  %h2 Gear List
  %p= @event.gear_list

  %h2 View Your Trip

  %p Once your event is posted on outdoors.org, you will be able to view it at HB Trip Listings .
