%h1 H/B Events

- @events.each do |event|
  =link_to event_path(event) do
    .event_block
      %h2.huge= event.event_name
      .bold= event.date_range
      .bold 
        Rating:
        = event.rating
      .label_compact Cost:
      %p= event.pricing
      .label_compact Description: 
      %p= event.description
