= render 'left_tabs'
#right
  %p Roster
  %h1= @event.event_name
  #roster_bin


  - Registration.where(:event_id => @event.id).each do
    -  |registration|
    - user = registration.user
    .user
      .avatar.left
        =image_tag('http://placehold.it/100x100')
      .info.left
        .name
          #{user.first_name} #{user.last_name}
        .contact_info
          #{user.phone} #{user.email}
        .answer1
          .question= @event.question1
          .answer= registration.answer1
        .gear
          .question Do you have the required gear? Any Questions?
          .answer= registration.gear_answer
      .select_box.left
        = render 'mini_form', :registration => registration, :new_status => 'Approved'
        = render 'mini_form', :registration => registration, :new_status => 'Wait List'
        = render 'mini_form', :registration => registration, :new_status => 'Canceled'
        = render 'mini_form', :registration => registration, :new_status => 'Registrar'
        = render 'mini_form', :registration => registration, :new_status => 'Leader'
        = render 'mini_form', :registration => registration, :new_status => 'Co-Leader'
      .clear
      .recent_trips
        .question Recent Trips
        - Registration.where(:user_id => user.id).each do
          - |reg|
          %p #{reg.event.start_date.pretty} #{reg.event.event_name}
      .medical
        .question Medical
        .answer=user.medical
      .diet
        .question Diet
        .answer= user.diet
      .emergency_contact
        .question Emergency Contact
        .answer= user.emergency_contact
      .experience
        .question Experience
        .answer= user.experience
      .exercise
        .question Weekly Exercise Routine
        .answer= user.exercise


  =link_to "Export as Excel", roster_export_url
