%p the Roster!!!

%p This is event:

= @event.id



%table
  %tr
    %th Name
    %th Experience
    %th Exercise
    %th Medical
    %th Diet
    %th Register status
    %th Gear answer
    %th Answer1
    %th Has questions
    %th
    %th
    %th

  - Registration.where(:event_id => @event.id).each do |registration|
    %tr
      %td= registration.user.first_name
      %td= registration.user.experience
      %td= registration.user.exercise
      %td= registration.user.medical
      %td= registration.user.diet
      %td= registration.register_status
      %td= registration.gear_answer
      %td= registration.answer1
      %td= registration.has_questions
      %td= link_to 'Approve', '#'
      %td= link_to 'Wait List', '#'
      %td= link_to 'Cancel', '#'
      %td= link_to 'Make Registrar', '#'
      %td= link_to 'Make Leader', '#'
      %td= link_to 'Make Co-Leader', '#'
