%p#notice= notice

= render 'event_listing', :event => @event

- current_registration = Registration.where(:user_id => current_user.id, :event_id => @event.id).first
- current_registration ||= Registration.new(:event_id => @event.id)
- debugger


= render 'registrations/form', :registration => current_registration, :event => @event

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
\|
= link_to 'Sign Up', new_registration_path
