- content_for :left do
  = render 'left_tabs'
#center
  %h1.huge This is /3
  = render 'event_listing', :event => @event

  - if @registration
    #registration_show
      %h1.huge This is /3/registration
      = render :template => 'registrations/show'
      = button_tag 'Change My Answers', :id => :show_editable
    #registration_edit
      %h1.huge This is /3/registration/edit
      = render 'registrations/form', :registration => @registration, :event => @event
  - else
    = button_tag 'Sign Up For This Event', :id => :show_editable
    #registration_new
      %h1.huge This is /3/registration/new
      - @registration = @new_registration
      = render :template => 'registrations/new'

  
.clear
