= render 'left_tabs'
#right
  = render 'event_listing', :event => @event
  - current_registration = Registration.where(:user_id => current_user.id, :event_id => @event.id).first
  - if current_registration
    = render 'show_my_registration'
  - if @sign_up
    - current_registration = Registration.new(:event_id => @event.id)
    = render 'registrations/form', :registration => current_registration, :event => @event

  = button_to 'Sign Up For This Event' #, new_registrations_path
.clear
