%h1 Support
%p We're here to help. If you can't find the information you're looking for on this page, send an email to REGI Support. If something is broken, we want to know so we can ask Jack to fix it. And if something needs more explanation, let us know and we'll add it to our Frequently Asked Questions below.
%h2 Contents
%ul
  %li= link_to "User FAQ", support_path(:anchor => "sec:user_faq")
  %li= link_to "Leader Guide", support_path(:anchor => "sec:leader_guide")
  %li= link_to "Leader FAQ", support_path(:anchor => "sec:leader_faq")
  %li= link_to "About CoGo", support_path(:anchor => "sec:about")
= raw(@user_guide_html)
