%p
- if flash[:error]
  .flash{:class => 'error'}
    %strong= flash[:error]
- if flash[:notice]
  %h2= flash[:notice].gsub("Congratulations! ","")
= form_for @user_session, :url => user_session_path do |f|
  .field
    = f.label :email, "Email Address"
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field.field-checkbox
    = f.check_box :remember_me
    %label{:for => "user_session_remember_me"}
      Remember me
      = link_to 'I forgot my password', '#'
    .clear
  .field
    %label
    = f.submit "Sign In"
