%p
- if flash[:error]
  .flash{:class => 'error'}
    %strong= flash[:error]
- if flash[:notice]
  %h2= flash[:notice].gsub("Congratulations! ","")
%h2 With REGI, it's easy to register for multiple AMC events
%ul
  %li Enter your profile and contact information only once
  %li Use your profile to register for as many events as you want
  %li Once approved for an event, arrange carpooling with other approved participants
  %li View up-to-date event information online
%p Please log in here
= form_for @user_session, :url => user_session_path do |f|
  .field
    = f.label :email, "Email Address"
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field.field-checkbox
    = f.check_box :remember_me
    %label{:for => "user_session_remember_me"}
      Remember me
      = link_to 'I forgot my password', new_password_reset_path
    .clear
  .field
    - 

    = hidden_field_tag :send_to, params[:send_to]
  .field
    %label
    = f.submit "Sign In"

= link_to "Create an Account", new_user_path
= link_to "Get Support", support_path
