<!DOCTYPE html>
%html
  %head
    %title Regi
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= flash[:notice]
    %p.error= flash[:error]
    = yield
    %p REGI-Rails 0.4
