<!DOCTYPE html>
%html
  %head
    %title Regi
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #top
      = link_to "HB Event Listings", hbtrips_path, :class => @tab_active_listings
      = link_to "Support", support_path, :class => @tab_active_support
      - if current_user
        - if @show_create_event_link
          = link_to "Create New Event", new_event_path, :class => @tab_active_new_event
        = link_to "My Events", root_path, :class => @tab_active_my_events
        = link_to current_user.full_name, view_profile_path, :class => @tab_active_profile
        = link_to 'Logout', user_session_path, :method => :delete
      - else
        = link_to "Log In", new_user_session_path, :class => @tab_active_login
    .clear
  
    - unless flash[:notice].nil?
      .notice.right= flash[:notice]
    - unless flash[:error].nil?
      .error.right= flash[:error]
    .clear


    = yield
    .clear
    %p.footer Copyright Jack Desert 2012 &nbsp; Powered by CoGo 0.70
