<!DOCTYPE html>
%html
  %head
    %title Regi
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #top
      = link_to "HB Trip Listings", hbtrips_path
      = link_to "Support", support_path
      - if @show_create_event_link
        = link_to "Create New Event", new_event_path
      = link_to "My Events", root_path
      = link_to "My Profile", view_profile_path
      = link_to 'Logout', user_session_path, :method => :delete

      %p.notice= flash[:notice]
      %p.error= flash[:error]


    = yield
    .clear
    %p.footer REGI-Rails 0.4
